[credential]
	helper = store
[user]
	name = Šimon Brandner
	email = simon.bra.ag@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
